@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.animate.pop {
  animation-name: pop;
  animation-timing-function: cubic-bezier(0.2, 0.5, 0.7, 1.4);
  animation-duration: 0.2s;
}

* {
  outline: none;
  /* scrollbar-color: #D7D7D7 #fff;
  scrollbar-width: thin */
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #D7D7D7; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ED7117;
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid #E7E7E7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 84px 54px 54px 190px;
  margin: 0 auto;
  color: #3A3A3A;
}

.chatLogo {
  margin-bottom: 6px;
}

.chatContainer {
  border: 1px solid #ED7117;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.chatWindow {
  box-sizing: border-box;
  background: #fff;
  padding: 36px 18px 18px 18px;
  height: 262px;
  overflow-y: auto;
}
.chatWindow .chatDate {
  box-sizing: border-box;
  font-size: 12px;
  color: #3b3b3b80;
  background: #F5F5F5;
  border-radius: 10px;
  padding: 4px 27px;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ED7117;
  font-size: 10px;
}

.chatHeader {
  display: flex;
  align-items: center;
  background: #ED7117;
  color: #fff;
  padding: 0 32px 0 18px;
  height: 55px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.chatHeader .avatarContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}
.avatarContainer .isOnline {
  box-sizing: border-box;
  content: '';
  min-width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 7px;
  background: #ED7117;
  border: 1px solid #fff;
  border-radius: 50%;

}
.chatHeader .user {
  width: 100%;
}
.chatHeader .role {
  font-size: 12px;
}
.chatHeader .actions {
  display: flex;
  align-items: center;
  gap: 14px;
}
.chatHeader .actions img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.chatMessage {
 display: flex;
}
.chatMessage + .chatMessage {
 margin-top: 20px;
}
.chatMessage .content {
  box-sizing: border-box;
  min-width: 263px;
  padding: 10px 12px 10px 8px;
  border-radius: 10px 10px 10px 0;
  background: #F5F5F5;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  overflow-wrap: break-word;
}
.chatMessage .content .title{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: baseline;
}
.chatMessage .content .time{
  font-size: 10px;
  opacity: 50%;
  margin-left: 14px;
}
.chatMessage .avatar {
  object-fit: cover;
  margin-top: 8px;
  margin-right: 18px;
}

.chatInput {
  display: flex;
  align-items: center;
  border: 1px solid #ED7117;
  border-radius: 5px;
  background: #fff;
  height: 34px;
  margin-top: 20px;
  padding-left: 14px;
}
.chatInput input[type="text"] {
  color: #3A3A3A;
  width: 100%;
  border: none;
  font-size: 12px;
}
.chatInput input[type="text"]::placeholder {
  opacity: 0.5;
}
.chatInput .attach {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 40px 0 20px;
  gap: 24px;
}
.chatInput .attach > img {
  filter: grayscale() opacity(0.5);
  cursor: pointer;
}
.chatInput .attach .active, .chatInput .attach img:hover {
  filter: none
}
.chatInput .attach .picker {
  position: absolute;
  bottom: 38px;
  right: 18px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 15px 0 #4d4d4d26;
  z-index: 2;
}
.preview {
  min-width: 128px;
  font-size: 12px;
  text-align: center;
  margin: 8px;
}
.chatInput .attach .picker .clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  background: #ED7117;
  border-radius: 4px;
}
.chatInput button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px 0 0 5px;
  background: #ED7117;
  min-width: 34px;
  height: 34px;
  cursor: pointer;
}

.userInfoContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 500;
  width: 380px;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 15px 0 #4d4d4d26;
  z-index: 2;
}
.userInfo {
  padding: 24px;
}
.userInfo .avatar {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}
.userInfo .role {
  color: #C4C4C4;
  margin-top: 4px;
}
.userInfo .userMainData {
  text-align: center;
}
.userInfo .userDetails {
  font-weight: 400;
  margin-top: 16px;
}
.userInfo .userDetails .propname {
  margin-bottom: 6px;
}
.userInfo .userDetails hr {
  margin: 14px 0;
}

.userInfoHeader {
  display: flex;
  align-items: center;
  background: #ED7117;
  color: #fff;
  padding: 0 24px;
  height: 55px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.userInfoHeader .title {
  width: 100%;
}
.userInfoHeader .actions {
  display: flex;
  align-items: center;
  gap: 18px;
}
.userInfoHeader .actions img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.notifications {
  position: absolute;
  bottom: 0;
  right: 0;
}

.notifications .notification {
  margin: 8px;
  opacity: 0.5;
}
.notifications .notification:last-child {
  opacity: 0.67;
}